body {
    background-color: #151515;
    color: #e8e3e3;

    font-family: 'Maple Mono NF';
    text-align: center;

    overflow: hidden;
}

#image {
    float: left;
    width: 25%;
    margin-left: 25%;
}

#whatwewant {
    margin-top: 10%;
    margin-right: 15%;
    overflow: auto;
}

.directories {
    margin: 20px;
    overflow: auto;
}

.directory {
    color: #b66467;

    font-style: italic;
    font-size: 18px;
    padding-bottom: 10px;
}

/* .shortcuts { */
/* } */

.shortcut {
    all: unset;
    font-size: 14px;
    color: #e8e3e3;
    margin: 30px;
    cursor: grab;
    transition: all 150ms;
}

button:hover {
    color: #b66467;
    font-weight: bolder;
    font-style: italic;
    font-size: 16px;
}

input {
    all: unset;
    color: #e8e3e3;
    border: 2px solid;
    border-radius: 20px;
    border-color: #b66467;
    width: 450px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    font-style: italic;
    margin-top: 30px;
}



/* .buttons { */
    /* margin-top: 12px; */
/* } */

/* header { */
    /* font-size: 65px; */
    /* font-style: italic; */
    /* margin-top: 110px; */
/* } */
